 <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <!--Load the AJAX API-->
     <script src="..PILN/style/js/moment.min.js"></script>
     <script src="..PILN/style/js/chart.min.js"></script>
     
   <canvas id="myChart"></canvas>

<script>


	
window.onload =  chartLoad();
function chartLoad() {
      
       var run_id = "{{ run_id }}";
            $.ajax({
              mimeType: 'application/json; charset=iso-8859-1',
              url:  'data.cgi',
              data: JSON.stringify( run_id ),
              contentType: "application/json",
              dataType: 'json',
              method: 'POST',
              async: false,
               success: function () {
              $.ajax({
                   mimeType: 'application/json; charset=iso-8859-1',  
                   dataType: "json",
                   url: 'data.json',
                   success: function (data) {
                        var date=[];
                        var seg=[];
                        var pid=[];
                        var set=[];
                        var temp=[];
                        //var i;
                        date=data['dt'];
                        seg=data['segment'];
                        pid=data['pid_output'];
                        temp=data['temp'];
                        set=data['set_temp'];
                        
                        var ctx = document.getElementById('myChart').getContext('2d');
                        window.myLine = new Chart(ctx, {
                        type: 'line',
                        data: {
                            labels: //labels for x-axis
                                date
             
                            ,
                            datasets: [{  //all the data from database
                                label: 'Temperature',
                                yAxisID: "y-axis-1",
                                fill: false,
                                borderColor: '#ff8000', 
                                data: temp,
                                
                                },{
                                label: 'Target Temperature',
                                yAxisID: "y-axis-1",
                                borderColor: '#ff0000', 
                                fill: false,
                                data: 
                                    set,
                                },{
                                label: 'PID Output',
                                yAxisID: "y-axis-1",
                                borderColor: '#33cc33', 
                                backgroundColor: '#33cc33',
                                type: 'bar',
                                data: pid,
                                },{
                                label: 'Segment',
                                fill: false,
                                borderColor: '#0033cc', 
                                yAxisID: "y-axis-2",
                                data: seg
                                }
                              ]
                              },
                        options: {
                        responsive: true,
                        maintainAspectRatio: true,
                         title: {
                            display: true,
                            text: 'Firing Chart for Profile {{ run_id }}',
                            fontSize: 20
                          },
                        elements: {
                                        point:{
                                            radius: 0
                                        }
                                    },
                        scales: {
                             yAxes: [{
                                            type: "linear", // only linear but allow scale type registration. This allows extensions to exist solely for log scale for instance
                                            display: true,
                                            position: "left",
                                            id: "y-axis-1",
                                            scaleLabel: {
                                                display: true,
                                                labelString: 'Temperature'
                                                },
                                            
                                        }, {
                                            type: "linear", // only linear but allow scale type registration. This allows extensions to exist solely for log scale for instance
                                            display: true,
                                            position: "right",
                                            id: "y-axis-2",
                                            scaleLabel: {
                                                display: true,
                                                labelString: 'Segments'
                                                },
                                            // grid line settings
                                            gridLines: {
                                                drawOnChartArea: false, // only want the grid lines for one axis to show up
                                            },
                                            ticks: {
                                                stepSize: 1
                                            },
                                        
                                        }],
                             xAxes: [{
                                type: "time",
                                display: true,
                                
                            }],
                            }
                        }

                    }

                    );
                    },
                    error: function() {
                      console.log("error");
                      console.trace();
                    }
                });
               },
               error: function() {
                    var canvas = document.getElementById("myChart");
                    var context = canvas.getContext("2d");

                    var myImg = new Image();
                    myImg.onload = function() {
                       context.drawImage(myImg, 0, 0);
                    };
                    myImg.src = '../images/833.gif';
  
                }


      
            });


setTimeout(chartLoad,30000);
}


</script>
